<h1>My awesome products</h1>
<% @products.each do |product| %>
  <div class="card-product">
    <img src="https://picsum.photos/seed/picsum/200/300" alt="random image">
    <div class="card-product-infos">
      <h3><%= product.name %></h3>
      <p><%= product.tagline %></p>
    </div>
  </div>
<% end %>

